<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
</head>
<body>
    <ul>
        <li>Name: {{ order.name }}</li>
        <li>Phone: {{ order.phone }}</li>
        <li>Email: {{ order.email }}</li>
        <li>Message: {{ order.message | nl2br }}</li>
    </ul>
</body>
</html>