{% extends 'base.html.twig' %}

{% block body %}
    <h1>Public area</h1>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('login_private') }}">Go to private area</a>
    {% else %}
        {{ render(controller('App\\Login\\Controller\\SiteController::widgetAction')) }}
    {% endif %}
{% endblock %}